.firstsection{
  height: 100vh;
  text-align: left;
  
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}
.mainText {
  font-size: 60px;
  color: var(--main-color);
  text-shadow: 2px 2px 2px black;
  margin: 0;
}
.clinique {
  padding: 20px 50px 0px 0px;
  width: auto;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.clinique img {
  border-radius: 25px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

.clinique p {
  padding: 5px 0px;
  margin-left: 0px;
  width: auto;
  font-size: 25px;
}
.clinique h3{
  margin-top: 0px;
}

.hours{
  position: relative;
  width: 100%;
  
}
.imgHours{
    width: 450px;
    height: 450px;
    position: absolute;
    top: 40px;
    right: 40px;
}
.tableHours{
  position: absolute;
  bottom: 0px;
  left: 0px;
  background:var(--main-color);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 250px;
    height: 300px;
    padding: 20px;
}

.tableHours table{
  border-spacing: 5px;
  margin-left:5px;
}