.firstsection{
  height: 70vh;
  text-align: left;
  background-color: lightblue;
}
.mainText {
  font-size: 60px;
  color: var(--main-color);
  text-shadow: 2px 2px 2px black;
  margin: 0;
}
.clinique {
  padding: 0 50px 0 50px;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.clinique img {
  border-radius: 25px;
  margin-top: 20px;
  width: 300px;
  height: 300px;
}

.clinique p {
  padding: 5px;
  margin-left: 20px;
  width: auto;
  font-size: 35px;
}
.clinique h3{
  margin-top: 0px;
}
