.secondSection{
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;
    height: 100vh;
   
}
.secondSection button{
    margin-top: 10px;
}
.secondSection h2{
    
}
.cardsWrapper{
    display: flex;
    flex-direction: row;    
    column-gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
    row-gap:20px;
}
.serviceCard{
    position: relative;
    padding: 5px;
    width: 250px;
    height: 250px;
    border: 3px solid var( --main-color);
    color:black;
}
.serviceCard:hover{
    background-color: var(--main-color);
    color: white;
    transition-duration: 0.5s;
}
.serviceCard p {
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 30%;
}
.serviceCard img{
    position: absolute;
    bottom: 0px;
    left: 1px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
}