.mainSec {
  padding-top: 30px;
  text-align: center;
  padding: 20px;
  background-image: url('../img/great.png');
  background-position: center;
  background-size: cover;
}
.mainSec img {
  width: 300px;
  height: 300px;
  border: 3px solid lightblue;
}
.sectionText {
  font-size: 35px;
  font-weight: bold;
}
.wrapperone {
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 40px;
}

.wrappertwo {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

